* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  width: 600px;
  background-color: rgb(191, 198, 205);
  border: solid black;
}

.snake-grid {
  background-color: rgb(0, 0, 0);
  border: solid black;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  /* 20 columns of equal size - 1fr means 1 fraction of height/width */
  grid-template-rows: repeat(20, 1fr);
}

.cell {
  background-color: rgb(109, 109, 109);
}

.snek {
  background-color: blue;
  border: solid blue;
}

.apple {
  background-color: red;
}

.scoreBoard {
  text-align: center;
  background-color: grey;
  border: solid black;
  width: 300px;
  height: 100px;
}
